<?xml version="1.0" encoding="UTF-8"?>

<cinema nbCaisses="8" nbCaissesAuto="4" nbClients="1000" pourcentageDePersonnesAuCaisses="50" pourcentageDePersonnesAuCaissesAuto="30" PourcentAbonnee="10">
    
    <lesFilms>
        
        <film id="1" titre="Star wars : le réveil de la force" genre="science fiction" duree="136" horaire="1" pegi="12"></film>
        <film id="2" titre="Babysitting 2" genre="comedie" duree="92" horaire="1" pegi="3"></film>
        <film id="3" titre="The big short : le casse du siècle" genre="comedie" duree="130" horaire="1" pegi="3"></film>
        <film id="4" titre="Snoopy et les peanuts - le film" genre="animation" duree="88" horaire="1" pegi="3"></film>
        <film id="5" titre="Le voyage d'Arlo" genre="animation" duree="94" horaire="1" pegi="3"></film>
        <film id="6" titre="Le grand partage" genre="comedie" duree="104" horaire="1" pegi="3"></film>
        <film id="7" titre="Belle et Sébastien, l'aventure continue" genre="aventure" duree="98" horaire="1" pegi="3"></film>
        <film id="8" titre="Le nouveau" genre="comedie" duree="81" horaire="1" pegi="3"></film>
        <film id="9" titre="007 spectre" genre="action" duree="148" horaire="1" pegi="3"></film>
        <film id="10" titre="hunger games : la revelote seconde partie" genre="action" duree="136" horaire="1" pegi="3"></film>


        
    </lesFilms>
    
    <lesSalles>
        <salle numeroSalle="1" capacite="120" film="1"></salle>
        <salle numeroSalle="2" capacite="50" film="2"></salle>
        <salle numeroSalle="3" capacite="80" film="3"></salle>
        <salle numeroSalle="4" capacite="50" film="4"></salle>
        <salle numeroSalle="5" capacite="50" film="5"></salle>
        <salle numeroSalle="6" capacite="80" film="6"></salle>
        <salle numeroSalle="7" capacite="120" film="7"></salle>
        <salle numeroSalle="8" capacite="200" film="8"></salle>
        <salle numeroSalle="9" capacite="75" film="9"></salle>
        <salle numeroSalle="10" capacite="80" film="10"></salle>
        <salle numeroSalle="11" capacite="120" film="2"></salle>
        <salle numeroSalle="12" capacite="250" film="9"></salle>        
    </lesSalles>
    
    
</cinema>
